body {
    background-color: tan;
}

h1 {
    text-align: center;
}

img {
    width: 800px;
    height: 700px;
}

.container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
}